$primary-text-color: #757778;
$secondary-text-color: #1b1f21;
$tertiary-text-color: #fcfaf9;
$date-text-color: #aeaeae;
$button-color: #9853f4;

$calendar-image-grey: "./src/assets/calendar-grey.svg";
$watch-image-grey: "./src/assets/watch-grey.svg";
$calendar-image-white: "./src/assets/calendar-white.svg";
$watch-image-white: "./src/assets/watch-white.svg";
