@use "./src/styles/_variables.scss" as *;
@use "./src/styles/_mixin.scss" as *;

.game {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  .cards-container {
    margin-bottom: 15px;
    padding: 7px;
    display: flex;
    flex-wrap: wrap;
    width: 370px;
    border-radius: 5px;
    // outline: 1px solid white;
    background-color: $secondaryBackground;

    .card {
      position: relative;
      margin: 7px;
      outline: 4px solid $primaryBackground;
      width: 75px;
      height: 100px;
      border-radius: 5px;
      cursor: pointer;
      transform-style: preserve-3d;
      transform-origin: center;
      transition: transform 0.5s, visibility 0.5s, opacity 0.5s,
        background-color 5s;

      .front,
      .back {
        position: absolute;
        width: inherit;
        height: inherit;
        backface-visibility: hidden;

        .img-front {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 65%;
          height: 55%;
          border-radius: 5px;
        }

        // .img-back {
        //   width: inherit;
        //   height: inherit;
        //   border-radius: 5px;
        //   object-fit: cover;
        // }
      }

      .front {
        transform: rotateY(180deg);
        background-color: $tertaryBackground;
        border-radius: 5px;
        transition: opacity 0.5s;

        &.guessed {
          opacity: 0.3;
        }
      }

      .back {
        border-radius: 5px;
        background-color: $tertaryBackground;
        background-image: url("../../assets/bells.png");
        background-repeat: no-repeat;
        background-size: cover;
      }

      &.flipped {
        transform: rotateY(180deg);
      }

      &.inactive {
        pointer-events: none;
        transform: rotateY(180deg);
      }
    }
  }

  .button {
    display: flex;
    justify-content: space-between;
    width: 370px;

    .loader {
      width: inherit;
      display: flex;
      justify-content: center;
      // background-color: #fff;
    }

    .start {
      @include button(155px);
    }

    .stop {
      @include button(155px);
    }
  }
}
