.content {
  position: relative;
  padding: 65px 40px 65px 40px;
  width: 420px;
  height: 300px;
  border-radius: 24px;
  transform: scale(0.5);
  transition: transform 0.2s;
  background-color: #ffffff;

  &.active {
    transform: scale(1);
  }
}
