@import "./variables.scss";

html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

picture {
  display: block;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
}

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

// global
.container {
  margin: 0 auto;
  max-width: 992px;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

// app
.header {
  margin-top: 30px;
  text-align: center;
}

.form {
  display: flex;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  flex-direction: column;
  width: 420px;
  outline: 1px solid black;
  padding: 10px;

  .label {
    margin-bottom: 10px;
  }

  .input {
    display: none;
  }

  .input-label {
    display: inline-block;
    width: 100px;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid black;
    text-align: center;
    cursor: pointer;
  }

  .error {
    display: none;
    margin-bottom: 10px;
  }

  .files-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    margin-bottom: 10px;
  }

  .submit {
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100px;
    padding: 10px;
    border: 1px solid black;
  }

  .card {
    position: relative;
    width: 120px;

    &:not(:nth-child(3n)) {
      margin-right: 20px;
    }
  }

  .btn-remove {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .picture {
    margin-bottom: 7px;
    width: inherit;
    height: 90px;
  }

  .img-preview {
    width: inherit;
    height: inherit;
    object-fit: cover;
    margin-bottom: 7px;
  }

  .img-name {
    margin-bottom: 7px;
  }

  .img-format {
    margin-bottom: 7px;
  }

  .img-size {
    margin-bottom: 7px;
  }
}
