.footer {
  padding-top: 184px;
  padding-bottom: 80px;
  background-color: #1b1f21;
}
.footer__wrapper {
  display: flex;
  flex-wrap: wrap;
  color: #fcfaf9;
}
@media (max-width: 577px) {
  .footer {
    padding-top: 32px;
  }
}
.footer__logo-nav-block {
  display: flex;
  margin-bottom: 101px;
  width: 100%;
}
@media (max-width: 1366px) {
  .footer__logo-nav-block {
    flex-direction: column;
    margin-bottom: 93px;
  }
}
@media (max-width: 577px) {
  .footer__logo-nav-block {
    flex-direction: column;
    margin-bottom: 48px;
  }
}
.footer__logo-block {
  width: 352px;
  flex-wrap: wrap;
}
.footer__logo-block .footer__sotial-block {
  display: none;
}
@media (max-width: 1366px) {
  .footer__logo-block .footer__sotial-block {
    flex-basis: 100%;
    display: flex;
  }
}
@media (max-width: 767px) {
  .footer__logo-block .footer__sotial-block {
    justify-content: center;
  }
}
@media (max-width: 577px) {
  .footer__logo-block .footer__sotial-block {
    justify-content: space-between;
  }
}
.footer__logo-block .footer__buttons {
  display: block;
}
@media (max-width: 1366px) {
  .footer__logo-block .footer__buttons {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
}
@media (max-width: 767px) {
  .footer__logo-block .footer__buttons {
    display: none;
  }
}
@media (max-width: 1366px) {
  .footer__logo-block {
    display: flex;
    margin-bottom: 88px;
    width: 100%;
  }
}
@media (max-width: 577px) {
  .footer__logo-block {
    margin-bottom: 65px;
  }
}
.footer__pictures {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
}
@media (max-width: 1366px) {
  .footer__pictures {
    margin-bottom: 50px;
  }
}
@media (max-width: 767px) {
  .footer__pictures {
    width: 100%;
  }
}
@media (max-width: 577px) {
  .footer__pictures {
    margin-bottom: 40px;
  }
}
.footer__logo-picture {
  width: 224px;
  height: 82px;
}
@media (max-width: 1366px) {
  .footer__logo-picture {
    margin-right: 48px;
    width: 173px;
    height: 64px;
  }
}
.footer__reward-picture {
  width: 80px;
  height: 80px;
}
@media (max-width: 1366px) {
  .footer__reward-picture {
    width: 64px;
    height: 64px;
  }
}
.footer__logo-img, .footer__reward-img {
  width: inherit;
  height: inherit;
}
.footer__nav-block {
  display: flex;
  margin-left: auto;
  padding-top: 3px;
  max-width: 688px;
  justify-content: space-between;
  flex: 1;
}
@media (max-width: 1366px) {
  .footer__nav-block {
    margin-left: 0;
    max-width: 100%;
  }
}
@media (max-width: 767px) {
  .footer__nav-block {
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media (max-width: 577px) {
  .footer__nav-block {
    flex-direction: column;
  }
}
.footer__nav-list-block:first-child, .footer__nav-list-block:last-child {
  width: 120px;
}
.footer__nav-list-block:nth-child(2) {
  width: 104px;
}
.footer__nav-list-block:nth-child(3) {
  width: 152px;
}
@media (max-width: 767px) {
  .footer__nav-list-block {
    display: flex;
    margin-bottom: 55px;
    width: 50% !important;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 577px) {
  .footer__nav-list-block {
    margin-bottom: 24px;
    width: 100% !important;
    align-items: flex-start;
  }
}
.footer .show-dropdown {
  max-height: 200px;
  margin-bottom: 14px;
}
.footer__nav-button {
  margin-bottom: 36px;
  font-size: 18px;
  font-weight: 700;
  color: #757778;
}
@media (max-width: 577px) {
  .footer__nav-button {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 0;
  }
  .footer__nav-button::after {
    content: "";
    position: absolute;
    top: 43%;
    right: 6px;
    width: 13px;
    height: 7px;
    background-image: url("../img/dropdown-menu-arrow.svg");
    background-repeat: no-repeat;
    transition: transform 0.5s;
  }
}
.footer .turn-dropdow-button-arrow::after {
  transform: rotate(180deg);
}
@media (max-width: 767px) {
  .footer__nav-list {
    text-align: center;
  }
}
@media (max-width: 577px) {
  .footer__nav-list {
    text-align: left;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
  }
}
.footer__nav-list-item {
  font-size: 15px;
  line-height: 21px;
}
.footer__nav-list-item:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 577px) {
  .footer__nav-list-item:not(:last-child) {
    margin-bottom: 16px;
  }
  .footer__nav-list-item:first-child {
    margin-top: 27px;
  }
}
.footer__contacts-block {
  display: flex;
  width: 569px;
}
@media (max-width: 767px) {
  .footer__contacts-block {
    flex-wrap: wrap;
  }
}
@media (max-width: 577px) {
  .footer__contacts-block {
    margin-bottom: 68px;
  }
}
.footer__contact-wrapper:not(:last-child) {
  margin-right: 40px;
}
@media (max-width: 767px) {
  .footer__contact-wrapper {
    margin-bottom: 40px;
  }
}
@media (max-width: 577px) {
  .footer__contact-wrapper {
    margin: 0;
  }
  .footer__contact-wrapper:not(:last-child) {
    margin-right: 0;
    margin-bottom: 34px;
  }
}
.footer__contact-name {
  margin-bottom: 11px;
  font-size: 13px;
  color: #aeaeae;
}
.footer__contact {
  font-size: 18px;
  font-weight: 700;
}
.footer__sotial-block {
  display: flex;
  align-items: center;
  margin-left: auto;
  width: 200px;
}
@media (max-width: 1366px) {
  .footer__sotial-block {
    display: none;
  }
}
.footer__sotial-list-item:not(:last-child) {
  margin-right: 24px;
}
@media (max-width: 577px) {
  .footer__sotial-list-item:not(:last-child) {
    margin-right: 0;
  }
}
.footer__sotial-picture {
  width: 32px;
  height: 32px;
}
@media (max-width: 577px) {
  .footer__sotial-picture {
    width: 48px;
    height: 48px;
  }
}
.footer__sotial-img {
  width: inherit;
  height: inherit;
}
.footer__buttons {
  display: none;
}
@media (max-width: 767px) {
  .footer__buttons {
    display: block;
  }
}
.footer__button-email {
  width: 280px;
  margin-bottom: 8px;
  padding: 13px 24px;
  border: 1.5px solid #fcfaf9;
  border-radius: 40px;
  color: #fcfaf9;
  font-size: 18px;
  color: #e8e8e8;
  text-align: left;
}
@media (max-width: 1366px) {
  .footer__button-email {
    margin-bottom: 17px;
  }
}
@media (max-width: 577px) {
  .footer__button-email {
    width: 100%;
    margin-bottom: 9px;
  }
}
.footer__button-subscribe {
  width: 280px;
  padding: 13px 24px;
  border: 1.5px solid #9853f4;
  border-radius: 40px;
  background-color: #9853f4;
  font-size: 18px;
  color: #fcfaf9;
  font-weight: 700;
}
@media (max-width: 577px) {
  .footer__button-subscribe {
    width: 100%;
  }
}
.footer__terms-block {
  position: relative;
  padding-top: 73px;
  flex-basis: 100%;
  display: flex;
}
.footer__terms-block::before {
  content: "";
  position: absolute;
  top: 35px;
  width: 100%;
  height: 1px;
  background-color: #434343;
}
@media (max-width: 1366px) {
  .footer__terms-block {
    padding-top: 57px;
  }
  .footer__terms-block::before {
    top: 27px;
  }
}
@media (max-width: 577px) {
  .footer__terms-block::before {
    width: 0;
    height: 0;
  }
}
@media (max-width: 577px) {
  .footer__terms-block {
    flex-direction: column;
    padding-top: 69px;
  }
}
.footer__terms-list-item {
  font-size: 12px;
  color: #aeaeae;
  letter-spacing: 0.47px;
}
.footer__terms-list-item:not(:last-child) {
  position: relative;
  margin-right: 26px;
}
.footer__terms-list-item:not(:last-child)::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 5px;
  top: 50%;
  transform: translateY(-54%);
  right: -17px;
  border-radius: 50%;
  background-color: #aeaeae;
}
@media (max-width: 1366px) {
  .footer__terms-list-item:not(:last-child) {
    margin-right: 26px;
  }
}
@media (max-width: 577px) {
  .footer__terms-list-item:not(:last-child) {
    margin-right: 0;
    margin-bottom: 23px;
  }
  .footer__terms-list-item:not(:last-child)::after {
    width: 0;
    height: 0;
  }
}/*# sourceMappingURL=footer.css.map */