@import "./variables.scss";
@import "./mixin.scss";

.header-visible {
  transform: translateY(-100%);
}

.header {
  position: fixed;
  width: 100%;
  padding-top: 16px;
  padding-bottom: 16px;
  color: $secondary-text-color;
  background-color: $tertiary-text-color;
  z-index: 2222;
  transition: transform 0.2s ease;

  &__wrapper {
    display: flex;
    align-items: center;

    @media (max-width: 1366px) {
      flex-wrap: wrap;
    }
  }

  &__block {
    &:first-child {
      margin-right: 144px;
    }

    &:last-child {
      display: flex;
      margin-left: auto;
    }

    @media (max-width: 1366px) {
      &:nth-child(1) {
        margin-right: 0;
      }

      &:nth-child(2) {
        padding-top: 23px;
        order: 3;
        flex-basis: 100%;
      }
    }

    @media (max-width: 767px) {
      &:nth-child(2) {
        width: 100%;
      }
    }

    @media (max-width: 577px) {
      &:nth-child(2) {
        padding-top: 15px;
      }
    }
  }

  &__logo-picture {
    width: 108px;
    height: 40px;
    background-image: url("../img/logo-ebac-header.svg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 0.2s;

    &:hover {
      background-image: url("../img/logo-hovered.svg");
    }

    &:active {
      background-image: url("../img/logo-hovered.svg");
    }

    @media (max-width: 577px) {
      width: 130px;
      height: 48px;
    }
  }

  &__menu-list {
    display: flex;

    @media (max-width: 1366px) {
      justify-content: space-between;
    }

    @media (max-width: 767px) {
      overflow-x: scroll;
      justify-content: flex-start;
    }
  }

  &__menu-item {
    &:not(:last-child) {
      margin-right: 10px;
    }

    @media (max-width: 1366px) {
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    @media (max-width: 767px) {
      &:not(:last-child) {
        margin-right: 8px;
      }
    }
  }

  &__menu-link {
    display: block;
    white-space: nowrap;
    border: 1.2px solid #e8e8e8;
    @include navButton();
  }

  &__search-button {
    margin-right: 27px;

    @media (max-width: 577px) {
      margin-right: 23px;
    }
  }

  &__logo-abbreviation {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 25px;
    font-size: 15px;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: #bedb39;
      transform: scaleX(0);
      transform-origin: 0%;
      transition: transform 0.2s;
    }

    &::after {
      content: "";
      position: absolute;
      top: 2px;
      right: 1px;
      width: 16px;
      height: 16px;
      background-image: url("../img/arrow.svg");
      background-repeat: no-repeat;
    }

    &:hover {
      &::before {
        transform: scaleX(100%);
      }
    }

    &:active {
      &::before {
        transform: scaleX(100%);
      }
    }
  }

  @media (max-width: 992px) {
    padding-top: 17px;
  }

  @media (max-width: 577px) {
    padding-top: 12px;
  }
}
