@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section-hero {
  margin-bottom: 449px;
}
.section-hero .hero {
  display: flex;
}
.section-hero .hero .schedule-date {
  margin-right: 21px;
  max-width: 223px;
  display: inline-block;
  padding-left: 25px;
  color: #aeaeae;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  background-image: url("../img/calendar-grey.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.section-hero .hero .schedule-duration {
  display: inline-block;
  padding-left: 25px;
  color: #aeaeae;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  background-image: url("../img/watch-grey.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.section-hero .hero__picture-wrapper {
  position: relative;
}
.section-hero .hero__gaming-picture {
  width: 480px;
  height: 560px;
  -webkit-mask-image: url("../img/gaming-mask.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
@media (max-width: 992px) {
  .section-hero .hero__gaming-picture {
    width: 100%;
    height: 320px;
    -webkit-mask-image: url("../img/gaming-mask-768-resolution.png");
  }
}
@media (max-width: 767px) {
  .section-hero .hero__gaming-picture {
    margin: 0 auto;
    width: 304px;
    height: 352px;
    -webkit-mask-image: url("../img/gaming-mask-320-resolution.png");
  }
}
.section-hero .hero__gaming-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-hero .hero__sticker {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 180px;
  height: 180px;
  animation: spin 3s linear infinite;
  animation-play-state: paused;
}
.section-hero .hero__sticker:hover {
  animation-play-state: running;
}
@media (max-width: 992px) {
  .section-hero .hero__sticker {
    width: 120px;
    height: 120px;
    top: 9px;
    right: 8px;
  }
}
@media (max-width: 767px) {
  .section-hero .hero__sticker {
    top: 0px;
    right: 100px;
  }
}
@media (max-width: 577px) {
  .section-hero .hero__sticker {
    width: 104px;
    height: 104px;
    top: 8px;
    right: 7px;
  }
}
.section-hero .hero__sticker-img {
  width: inherit;
  height: inherit;
}
.section-hero .hero__descr-block {
  position: relative;
  padding-top: 47px;
  padding-left: 40px;
  padding-bottom: 130px;
}
@media (max-width: 992px) {
  .section-hero .hero__descr-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 25px;
  }
}
@media (max-width: 767px) {
  .section-hero .hero__descr-block {
    padding-top: 18px;
    flex-direction: column;
    padding-left: 0;
  }
}
.section-hero .hero .chosen-hero-option {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  background-color: #bedb39;
}
.section-hero .hero__list {
  display: flex;
  margin-bottom: 9px;
  align-items: center;
}
@media (max-width: 992px) {
  .section-hero .hero__list {
    flex-wrap: wrap;
    justify-content: flex-end;
    max-height: 70px;
    width: 179px;
    margin-bottom: 0;
  }
}
@media (max-width: 767px) {
  .section-hero .hero__list {
    margin-bottom: 16px;
    width: 100%;
    justify-content: center;
  }
}
@media (max-width: 577px) {
  .section-hero .hero__list {
    justify-content: flex-start;
  }
}
.section-hero .hero__list-item {
  margin-bottom: 10px;
  font-size: 15px;
  color: #94ac23;
}
.section-hero .hero__list-item:not(:last-child) {
  margin-right: 10px;
}
.section-hero .hero__list-item:first-child {
  margin-right: 18px;
}
@media (max-width: 992px) {
  .section-hero .hero__list-item {
    margin-bottom: 0;
  }
  .section-hero .hero__list-item:first-child {
    display: flex;
    flex-basis: 100%;
    justify-content: flex-end;
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 767px) {
  .section-hero .hero__list-item:not(:last-child) {
    margin-right: 13px;
    margin-bottom: 0;
  }
  .section-hero .hero__list-item:first-child {
    flex-basis: 0;
    margin-right: 16px;
  }
}
.section-hero .hero__heading {
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 43.2px;
  font-family: "Archivo Black";
  font-weight: 400;
  color: #1b1f21;
}
@media (max-width: 992px) {
  .section-hero .hero__heading {
    max-width: 461px;
    margin-bottom: 0;
    font-size: 26px;
    line-height: 31.2px;
  }
}
@media (max-width: 767px) {
  .section-hero .hero__heading {
    margin-bottom: 16px;
  }
}
.section-hero .hero__descr {
  margin-bottom: 16px;
  max-width: 480px;
  color: #757778;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05px;
  line-height: 28.8px;
}
@media (max-width: 992px) {
  .section-hero .hero__descr {
    max-width: 461px;
    margin-bottom: 0;
    padding-top: 7px;
    order: 4;
  }
}
@media (max-width: 767px) {
  .section-hero .hero__descr {
    order: 3;
    padding-top: 0;
    margin-bottom: 18px;
  }
}
@media (max-width: 992px) {
  .section-hero .hero .schedule-date {
    margin-right: 0;
    padding-left: 0;
    margin-bottom: 8px;
    padding-right: 25px;
    background-position: 100% 3px;
  }
}
@media (max-width: 767px) {
  .section-hero .hero .schedule-date {
    margin-bottom: 0px;
    margin-right: 24px;
    background-position: 0 3px;
    padding-right: 0;
    padding-left: 25px;
  }
}
@media (max-width: 992px) {
  .section-hero .hero .schedule-duration {
    padding-left: 0;
    padding-right: 25px;
    background-position: 100% 3px;
  }
}
@media (max-width: 767px) {
  .section-hero .hero .schedule-duration {
    background-position: 0 3px;
    padding-right: 0;
    padding-left: 25px;
  }
}
@media (max-width: 992px) {
  .section-hero .hero .date-hero {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    order: 3;
    width: 179px;
  }
}
@media (max-width: 767px) {
  .section-hero .hero .date-hero {
    width: 100%;
    flex-direction: row;
    order: 4;
  }
}
.section-hero .hero__button {
  position: absolute;
  padding: 20px 57px;
  left: 40px;
  bottom: 46px;
  color: #1b1f21;
  background-color: #bedb39;
  border-radius: 40px;
  font-size: 18px;
}
.section-hero .hero__button::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 95%;
  height: 82%;
  border: 1.5px solid #1b1f21;
  border-radius: 30px;
}
@media (max-width: 992px) {
  .section-hero .hero__button {
    left: 50%;
    bottom: 21px;
    transform: translateX(-47%);
  }
}
@media (max-width: 767px) {
  .section-hero .hero__button {
    left: 50%;
    bottom: 21px;
    transform: translateX(-50%);
  }
}
@media (max-width: 577px) {
  .section-hero .hero__button {
    width: 100%;
    bottom: 15px;
  }
}
@media (max-width: 992px) {
  .section-hero .hero {
    flex-direction: column;
  }
}
@media (max-width: 1366px) {
  .section-hero {
    margin-bottom: 298px;
  }
}/*# sourceMappingURL=hero-section.css.map */