.section-popular {
  margin-bottom: 170px;
}
.section-popular .popular {
  display: flex;
  flex-direction: column;
}
.section-popular .popular__top {
  display: flex;
  margin-bottom: 139px;
  justify-content: space-between;
}
.section-popular .popular__card-middle {
  width: 100%;
}
.section-popular .popular__bottom {
  display: flex;
  justify-content: space-between;
}
.section-popular .popular__card {
  width: 584px;
}
.section-popular .popular__picture-wrapper {
  position: relative;
  margin-bottom: 32px;
  width: 100%;
  height: 328px;
}
.section-popular .popular__picture {
  width: inherit;
  height: inherit;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.section-popular .popular__img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-popular .popular__sticker {
  position: absolute;
  display: inline-block;
  top: -49px;
  width: 180px;
  height: 180px;
  animation: spin 3s linear infinite;
  animation-play-state: paused;
}
.section-popular .popular__sticker:hover {
  animation-play-state: running;
}
.section-popular .popular__sticker-img {
  width: inherit;
  height: inherit;
}
.section-popular .popular__descr-wrapper {
  display: flex;
  flex-direction: column;
}
.section-popular .popular__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
  align-items: center;
}
.section-popular .popular__list-item {
  font-size: 15px;
}
.section-popular .popular__list-item:not(:last-child) {
  margin-right: 10px;
}
.section-popular .popular__list-item:first-child {
  margin-right: 18px;
}
.section-popular .popular__heading {
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-family: "Archivo Black";
  font-weight: 400;
  color: #1b1f21;
}
.section-popular .popular__descr {
  margin-bottom: 18px;
  max-width: 480px;
  color: #757778;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05px;
  line-height: 28.8px;
}
.section-popular .popular__fashion-picture {
  -webkit-mask-image: url("../img/fashion-mask.png");
}
.section-popular .popular__fashion-sticker {
  left: -40px;
}
.section-popular .popular__fashion-list-item {
  color: #22c98b;
}
.section-popular .popular .chosen-fashion-option {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  background-color: #22c98b;
}
.section-popular .popular__design-picture {
  -webkit-mask-image: url("../img/design-mask.png");
}
.section-popular .popular__design-sticker {
  right: -40px;
}
.section-popular .popular__design-list-item {
  color: #ec95b1;
}
.section-popular .popular .chosen-design-option {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  background-color: #ec95b1;
}
.section-popular .popular__middle {
  margin-bottom: 136px;
}
.section-popular .popular__picture-wrapper-middle {
  position: relative;
  margin-bottom: 48px;
  width: 100%;
  height: 520px;
}
.section-popular .popular__design-middle-picture {
  -webkit-mask-image: url("../img/design-additional-mask.png");
}
.section-popular .popular__descr-middle-block {
  position: relative;
  min-height: 181px;
}
.section-popular .popular__descr-middle-wrapper {
  position: absolute;
  top: 0;
  right: 10.33%;
  display: flex;
  flex-wrap: wrap;
  max-width: 879px;
  justify-content: flex-end;
}
.section-popular .popular__list-middle, .section-popular .popular__heading-middle, .section-popular .popular__descr-middle {
  margin-bottom: 0;
}
.section-popular .popular__list-middle, .section-popular .popular__heading-middle {
  margin-bottom: 8px;
}
.section-popular .popular__heading-middle {
  font-size: 36px;
  line-height: 43.2px;
}
.section-popular .popular__descr-middle-element {
  justify-content: flex-end;
  align-items: flex-end;
}
.section-popular .popular__descr-middle-element:nth-child(3n+1) {
  max-width: 172px;
  margin-right: 19px;
}
.section-popular .popular__descr-middle-element:not(:nth-child(3n+1)) {
  max-width: 688px;
}
.section-popular .popular__descr-middle-element:nth-child(3) {
  order: 4;
}
.section-popular .popular__descr-middle-element:nth-child(4) {
  order: 3;
}
.section-popular .popular__design-middle-list-item {
  font-size: 15px;
  color: #ec95b1;
}
.section-popular .popular__design-middle-list-item:first-child {
  display: flex;
  margin-right: 0;
  flex-basis: 100%;
  justify-content: flex-end;
}
.section-popular .popular .date-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.section-popular .popular .schedule-date-middle,
.section-popular .popular .schedule-duration-middle {
  padding: 0;
  padding-right: 25px;
  background-position: 100% 0px;
}
.section-popular .popular .schedule-date-middle {
  margin-right: 0;
  margin-bottom: 8px;
}
.section-popular .popular .chosen-design-middle-option {
  background-color: #ec95b1;
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
}
.section-popular .popular__marketing-picture {
  -webkit-mask-image: url("../img/marketing-mask.png");
}
.section-popular .popular__marketing-sticker {
  width: 274px;
  height: 206px;
  left: -57px;
  top: -76px;
}
.section-popular .popular__marketing-list-item {
  color: #ef9700;
}
.section-popular .popular .chosen-marketing-option {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  background-color: #ef9700;
}
.section-popular .popular__software-picture {
  -webkit-mask-image: url("../img/software-mask.png");
}
.section-popular .popular__software-sticker {
  right: -40px;
}
.section-popular .popular__software-list-item {
  color: #57acbc;
}
.section-popular .popular .chosen-software-option {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  background-color: #57acbc;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=popular-section.css.map */