@font-face {
  font-family: "Nunito";
  src: local("Nunito Regular"), local("Nunito-Regular"), url("../fonts/Nunito-Regular.woff2") format("woff2"), url("../fonts/Nunito-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Medium"), local("Nunito-Medium"), url("../fonts/Nunito-Medium.woff2") format("woff2"), url("../fonts/Nunito-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Nunito";
  src: local("Nunito Bold"), local("Nunito-Bold"), url("../fonts/Nunito-Bold.woff2") format("woff2"), url("../fonts/Nunito-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Archivo Black";
  src: local("Archivo Black Regular"), local("Archivo-Black-Regular"), url("../fonts/ArchivoBlack-Regular.woff2") format("woff2"), url("../fonts/ArchivoBlack-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

picture {
  display: block;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  background-color: #fcfaf9;
}

.layout {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
}

.container {
  margin: 0 auto;
  max-width: 1208px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

p {
  margin: 0;
}

.list-reset {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  list-style: none;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.popular-marquee,
.webinars-marquee,
.subscription-marquee {
  position: absolute;
  z-index: 777;
}

.popular-marquee {
  top: 838px;
}
.popular-marquee .marquee {
  margin: 0 auto;
  width: calc(100vw + 20px);
  height: 120px;
  background-color: #acd6de;
  white-space: nowrap;
  overflow: hidden;
  transform: rotate(-4deg) translateX(-10px);
}
.popular-marquee .marquee__content {
  position: absolute;
  display: flex;
  width: 300%;
  top: 50%;
  animation: marquee 15s linear infinite forwards;
}
.popular-marquee .marquee__list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.popular-marquee .marquee__list-text {
  font-family: "Archivo Black";
  font-size: 58px;
  font-weight: 400;
  line-height: 69.6px;
  letter-spacing: 0.01em;
  color: #1b1f21;
}
.popular-marquee .marquee__list-separator {
  display: flex;
}
@keyframes marquee {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-66.6%, -50%);
  }
}

.webinars-marquee {
  bottom: 50%;
}
.webinars-marquee .marquee {
  margin: 0 auto;
  width: calc(100vw + 20px);
  height: 120px;
  background-color: #ffad20;
  white-space: nowrap;
  overflow: hidden;
  transform: rotate(-3deg) translateX(-10px);
}
.webinars-marquee .marquee__content {
  position: absolute;
  display: flex;
  width: 300%;
  top: 50%;
  animation: marquee 15s linear infinite forwards;
}
.webinars-marquee .marquee__list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.webinars-marquee .marquee__list-text {
  font-family: "Archivo Black";
  font-size: 58px;
  font-weight: 400;
  line-height: 69.6px;
  letter-spacing: 0.01em;
  color: #1b1f21;
}
.webinars-marquee .marquee__list-separator {
  display: flex;
}
@keyframes marquee {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-66.6%, -50%);
  }
}

.subscription-marquee {
  bottom: 40%;
}
.subscription-marquee .marquee {
  margin: 0 auto;
  width: calc(100vw + 20px);
  height: 120px;
  background-color: #fe6d44;
  white-space: nowrap;
  overflow: hidden;
  transform: rotate(-2deg) translateX(-10px);
}
.subscription-marquee .marquee__content {
  position: absolute;
  display: flex;
  width: 300%;
  top: 50%;
  animation: marquee 15s linear infinite forwards;
}
.subscription-marquee .marquee__list {
  display: flex;
  justify-content: space-around;
  width: 50%;
}
.subscription-marquee .marquee__list-text {
  font-family: "Archivo Black";
  font-size: 58px;
  font-weight: 400;
  line-height: 69.6px;
  letter-spacing: 0.01em;
  color: #1b1f21;
}
.subscription-marquee .marquee__list-separator {
  display: flex;
}
@keyframes marquee {
  0% {
    transform: translate(0, -50%);
  }
  100% {
    transform: translate(-66.6%, -50%);
  }
}

.header {
  margin-bottom: 94px;
  padding-top: 14px;
  color: #1b1f21;
}
.header__wrapper {
  display: flex;
  align-items: center;
}
.header__block:first-child {
  margin-right: 144px;
}
.header__block:last-child {
  margin-left: auto;
}
.header__menu-list {
  display: flex;
}
.header__menu-item:not(:last-child) {
  margin-right: 10px;
}
.header__menu-link {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  border: 1.2px solid #e8e8e8;
}
.header__search-wrapper {
  display: flex;
  align-items: center;
}
.header__search-button {
  margin-right: 27px;
}
.header__logo-abbreviation {
  position: relative;
  padding-right: 25px;
  font-size: 15px;
}
.header__logo-abbreviation::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-image: url("../img/arrow.svg");
  background-repeat: no-repeat;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section-hero {
  margin-bottom: 449px;
}
.section-hero .hero {
  display: flex;
}
.section-hero .hero .schedule-date {
  margin-right: 21px;
  max-width: 223px;
  display: inline-block;
  padding-left: 25px;
  color: #aeaeae;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  background-image: url("../img/calendar-grey.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.section-hero .hero .schedule-duration {
  display: inline-block;
  padding-left: 25px;
  color: #aeaeae;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  background-image: url("../img/watch-grey.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.section-hero .hero__picture-wrapper {
  position: relative;
}
.section-hero .hero__gaming-picture {
  width: 480px;
  height: 560px;
  -webkit-mask-image: url("../img/gaming-mask.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.section-hero .hero__gaming-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-hero .hero__sticker {
  position: absolute;
  display: inline-block;
  top: 0;
  right: 0;
  width: 180px;
  height: 180px;
  animation: spin 3s linear infinite;
  animation-play-state: paused;
}
.section-hero .hero__sticker:hover {
  animation-play-state: running;
}
.section-hero .hero__sticker-img {
  width: inherit;
  height: inherit;
}
.section-hero .hero__descr-block {
  position: relative;
  padding-top: 47px;
  padding-left: 40px;
  padding-bottom: 130px;
}
.section-hero .hero .chosen-option {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  background-color: #bedb39;
}
.section-hero .hero__list {
  display: flex;
  margin-bottom: 9px;
  align-items: center;
}
.section-hero .hero__list-item {
  margin-bottom: 10px;
  font-size: 15px;
  color: #94ac23;
}
.section-hero .hero__list-item:not(:last-child) {
  margin-right: 10px;
}
.section-hero .hero__list-item:first-child {
  margin-right: 18px;
}
.section-hero .hero__heading {
  margin-bottom: 16px;
  font-size: 36px;
  line-height: 43.2px;
  font-family: "Archivo Black";
  font-weight: 400;
  color: #1b1f21;
}
.section-hero .hero__descr {
  margin-bottom: 16px;
  max-width: 480px;
  color: #757778;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05px;
  line-height: 28.8px;
}
.section-hero .hero__button {
  position: absolute;
  padding: 20px 57px;
  left: 40px;
  bottom: 46px;
  color: #1b1f21;
  background-color: #bedb39;
  border-radius: 40px;
  font-size: 18px;
}
.section-hero .hero__button::before {
  content: "";
  position: absolute;
  top: 6px;
  left: 6px;
  width: 95%;
  height: 82%;
  border: 1.5px solid #1b1f21;
  border-radius: 30px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.section-popular {
  margin-bottom: 215px;
}
.section-popular .popular {
  display: flex;
  flex-direction: column;
}
.section-popular .popular .schedule-date {
  margin-right: 21px;
  max-width: 223px;
  display: inline-block;
  padding-left: 25px;
  color: #aeaeae;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  background-image: url("../img/calendar-grey.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.section-popular .popular .schedule-duration {
  display: inline-block;
  padding-left: 25px;
  color: #aeaeae;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  background-image: url("../img/watch-grey.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.section-popular .popular__top {
  display: flex;
  margin-bottom: 136px;
  justify-content: space-between;
}
.section-popular .popular__card-middle {
  width: 100%;
}
.section-popular .popular__bottom {
  display: flex;
  justify-content: space-between;
}
.section-popular .popular__card {
  width: 584px;
}
.section-popular .popular__picture-wrapper {
  position: relative;
  margin-bottom: 32px;
  width: 100%;
  height: 328px;
}
.section-popular .popular__picture {
  width: inherit;
  height: inherit;
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.section-popular .popular__img {
  width: inherit;
  height: inherit;
  -o-object-fit: cover;
     object-fit: cover;
}
.section-popular .popular__sticker {
  position: absolute;
  display: inline-block;
  top: -49px;
  width: 180px;
  height: 180px;
  animation: spin 3s linear infinite;
  animation-play-state: paused;
}
.section-popular .popular__sticker:hover {
  animation-play-state: running;
}
.section-popular .popular__sticker-img {
  width: inherit;
  height: inherit;
}
.section-popular .popular__descr-wrapper {
  display: flex;
  flex-direction: column;
}
.section-popular .popular__list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 17px;
  align-items: center;
}
.section-popular .popular__list-item {
  font-size: 15px;
}
.section-popular .popular__list-item:not(:last-child) {
  margin-right: 11px;
}
.section-popular .popular__list-item:first-child {
  margin-right: 18px;
}
.section-popular .popular__heading {
  margin-bottom: 16px;
  font-size: 30px;
  line-height: 36px;
  font-family: "Archivo Black";
  font-weight: 400;
  color: #1b1f21;
}
.section-popular .popular__descr {
  margin-bottom: 18px;
  max-width: 480px;
  color: #757778;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 0.05px;
  line-height: 28.8px;
}
.section-popular .popular__fashion-picture {
  -webkit-mask-image: url("../img/fashion-mask.png");
}
.section-popular .popular__fashion-sticker {
  left: -40px;
}
.section-popular .popular__fashion-list-item {
  color: #22c98b;
}
.section-popular .popular .chosen-fashion-option {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  background-color: #22c98b;
}
.section-popular .popular__design-picture {
  -webkit-mask-image: url("../img/design-mask.png");
}
.section-popular .popular__design-sticker {
  right: -40px;
}
.section-popular .popular__design-list-item {
  color: #ec95b1;
}
.section-popular .popular .chosen-design-option {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  background-color: #ec95b1;
}
.section-popular .popular__middle {
  margin-bottom: 137px;
}
.section-popular .popular__picture-wrapper-middle {
  position: relative;
  margin-bottom: 48px;
  width: 100%;
  height: 520px;
}
.section-popular .popular__design-middle-picture {
  -webkit-mask-image: url("../img/design-additional-mask.png");
}
.section-popular .popular__descr-middle-block {
  position: relative;
  min-height: 181px;
}
.section-popular .popular__descr-middle-wrapper {
  position: absolute;
  top: 0;
  right: 10.33%;
  display: flex;
  flex-wrap: wrap;
  max-width: 879px;
  justify-content: flex-end;
}
.section-popular .popular__list-middle, .section-popular .popular__heading-middle, .section-popular .popular__descr-middle {
  margin-bottom: 0;
}
.section-popular .popular__list-middle, .section-popular .popular__heading-middle {
  margin-bottom: 8px;
}
.section-popular .popular__heading-middle {
  font-size: 36px;
  line-height: 43.2px;
}
.section-popular .popular__descr-middle-element {
  justify-content: flex-end;
  align-items: flex-end;
}
.section-popular .popular__descr-middle-element:nth-child(3n+1) {
  max-width: 172px;
  margin-right: 19px;
}
.section-popular .popular__descr-middle-element:not(:nth-child(3n+1)) {
  max-width: 688px;
}
.section-popular .popular__descr-middle-element:nth-child(3) {
  order: 4;
}
.section-popular .popular__descr-middle-element:nth-child(4) {
  order: 3;
}
.section-popular .popular__design-middle-list-item {
  font-size: 15px;
  color: #ec95b1;
}
.section-popular .popular__design-middle-list-item:first-child {
  display: flex;
  margin-right: 0;
  flex-basis: 100%;
  justify-content: flex-end;
}
.section-popular .popular .date-middle {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.section-popular .popular .schedule-date-middle,
.section-popular .popular .schedule-duration-middle {
  padding: 0;
  padding-right: 25px;
  background-position: 100% 0px;
}
.section-popular .popular .schedule-date-middle {
  margin-right: 0;
  margin-bottom: 8px;
}
.section-popular .popular .chosen-design-middle-option {
  background-color: #ec95b1;
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
}
.section-popular .popular__marketing-picture {
  -webkit-mask-image: url("../img/marketing-mask.png");
}
.section-popular .popular__marketing-sticker {
  width: 274px;
  height: 206px;
  left: -57px;
  top: -76px;
}
.section-popular .popular__marketing-list-item {
  color: #ef9700;
}
.section-popular .popular .chosen-marketing-option {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  background-color: #ef9700;
}
.section-popular .popular__software-picture {
  -webkit-mask-image: url("../img/software-mask.png");
}
.section-popular .popular__software-sticker {
  right: -40px;
}
.section-popular .popular__software-list-item {
  color: #57acbc;
}
.section-popular .popular .chosen-software-option {
  padding: 9px 18px;
  border-radius: 20px;
  font-size: 15px;
  color: #1b1f21;
  background-color: #57acbc;
}

.section-webinars {
  padding-top: 144px;
  padding-bottom: 130px;
  background-color: #1b1f21;
}
.section-webinars .schedule-date {
  margin-right: 21px;
  max-width: 223px;
  display: inline-block;
  padding-left: 25px;
  color: #fcfaf9;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  background-image: url("../img/calendar-white.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.section-webinars .schedule-duration {
  display: inline-block;
  padding-left: 25px;
  color: #fcfaf9;
  font-size: 15px;
  font-weight: 500;
  line-height: 21px;
  background-image: url("../img/watch-white.svg");
  background-repeat: no-repeat;
  background-position: 0 3px;
}
.section-webinars .webinars {
  color: #fcfaf9;
}
.section-webinars .webinars__header-wrapper {
  display: flex;
  margin-bottom: 80px;
  justify-content: space-between;
  align-items: center;
}
.section-webinars .webinars__heading {
  font-family: "Archivo Black";
  font-size: 46px;
  font-weight: 400;
  line-height: 55.2px;
}
.section-webinars .webinars__button {
  padding: 22px 62px;
  background-color: #9853f4;
  border-radius: 40px;
  font-size: 18px;
  font-weight: 700;
  color: #fcfaf9;
}
.section-webinars .webinars__cards-list {
  display: flex;
  flex-wrap: wrap;
}
.section-webinars .webinars__card-list-item {
  position: relative;
  margin-bottom: 40px;
  width: 376px;
  min-height: 432px;
  padding: 32px;
  border-radius: 32px;
}
.section-webinars .webinars__card-list-item:not(:nth-child(3n)) {
  margin-right: 40px;
}
.section-webinars .webinars__card-bio {
  display: flex;
  margin-bottom: 15px;
  min-height: 93px;
}
.section-webinars .webinars__card-picture {
  margin-right: 20px;
  height: 64px;
  -webkit-mask-image: url("../img/avatar-mask.png");
  -webkit-mask-repeat: no-repeat;
          mask-repeat: no-repeat;
}
.section-webinars .webinars__card-img {
  min-width: 64px;
  height: inherit;
}
.section-webinars .webinars__card-bio-info-block {
  padding-top: 5px;
}
.section-webinars .webinars__card-bio-name {
  margin-bottom: 6px;
  font-family: "Archivo Black";
  font-size: 26px;
  font-weight: 400;
  line-height: 31.2px;
}
.section-webinars .webinars__card-bio-descr {
  display: block;
  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 15px;
}
.section-webinars .webinars__card-descr {
  margin-bottom: 85px;
  font-family: "Archivo Black";
  font-size: 30px;
  font-weight: 400;
  line-height: 36px;
}
.section-webinars .webinars__schedule {
  position: absolute;
  height: 75px;
  bottom: 32px;
}
.section-webinars .webinars__schedule-heading {
  margin-bottom: 14px;
  font-size: 15px;
}
.section-webinars .webinars__schedule-heading span:first-child {
  margin-right: 25px;
}
.section-webinars .webinars .schedule-date {
  margin-right: 24px;
  width: 223px;
}
.section-webinars .webinars__date-duration {
  display: flex;
  justify-content: space-between;
}
.section-webinars .webinars__line-break {
  white-space: nowrap;
}
.section-webinars .webinars__card-one {
  background-color: #57acbc;
}
.section-webinars .webinars__card-two {
  background-color: #fe6d44;
}
.section-webinars .webinars__card-three {
  background-color: #ef9700;
}

.section-subscription {
  padding-top: 188px;
  padding-bottom: 135px;
  background-color: #f2f2f2;
}
.section-subscription .subscription {
  position: relative;
  padding: 64px 0 64px 104px;
  color: #fcfaf9;
  -webkit-mask-image: url("../img/subscription-mask.png");
  -webkit-mask-repeat: no-repeat;
  background-color: #57acbc;
}
.section-subscription .subscription__descr-block {
  width: 624px;
}
.section-subscription .subscription__picture {
  position: absolute;
  top: 0;
  right: 0;
}
.section-subscription .subscription__img {
  height: 518px;
}/*# sourceMappingURL=style.css.map */