@charset "UTF-8";
.section-subscription {
  position: relative;
  padding-top: 188px;
  padding-bottom: 135px;
  background-color: #f2f2f2;
  overflow: hidden;
}
.section-subscription .subscription {
  position: relative;
  min-height: 518px;
  padding: 64px 0 64px 104px;
  color: #fcfaf9;
  -webkit-mask-image: url("../img/subscription-mask.png");
  -webkit-mask-repeat: no-repeat;
  background-color: #57acbc;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__descr-block {
    width: 750px;
    background-color: #57acbc;
    padding: 40px 24px;
    border-radius: 32px 0 0 32px;
  }
}
@media (max-width: 1366px) {
  .section-subscription .subscription__descr-block {
    padding-bottom: 10px;
  }
}
@media (max-width: 1140px) {
  .section-subscription .subscription__descr-block {
    border-radius: 32px;
  }
}
@media (max-width: 992px) {
  .section-subscription .subscription__descr-block {
    padding-bottom: 4px;
    width: 510px;
  }
}
@media (max-width: 767px) {
  .section-subscription .subscription__descr-block {
    padding-bottom: 4px;
    width: 100%;
  }
}
@media (max-width: 577px) {
  .section-subscription .subscription__descr-block {
    padding: 65px 24px;
  }
}
.section-subscription .subscription__descr-content {
  width: 600px;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__descr-content {
    width: 450px;
  }
}
@media (max-width: 1140px) {
  .section-subscription .subscription__descr-content {
    width: 368px;
  }
}
@media (max-width: 767px) {
  .section-subscription .subscription__descr-content {
    margin: 0 auto;
  }
}
@media (max-width: 577px) {
  .section-subscription .subscription__descr-content {
    width: 100%;
  }
}
.section-subscription .subscription__heading {
  margin-bottom: 8px;
  font-family: "Archivo Black";
  font-size: 36px;
  font-weight: 400;
  line-height: 43.2px;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__heading {
    font-size: 26px;
    line-height: 31.2px;
  }
}
.section-subscription .subscription__descr {
  margin-bottom: 88px;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box; /* Для поддержки многострочного текста */
  -webkit-box-orient: vertical; /* Вертикальная ориентация для flex-контейнера */
  -webkit-line-clamp: 3; /* Максимальное количество строк */
  font-size: 18px;
  font-weight: 400;
  line-height: 28.8px;
  letter-spacing: 0.07px;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__descr {
    text-overflow: clip;
    display: block;
    max-height: initial;
    margin-bottom: 64px;
  }
}
@media (max-width: 577px) {
  .section-subscription .subscription__descr {
    margin-bottom: 80px;
  }
}
.section-subscription .subscription__form {
  display: flex;
  width: 576px;
  flex-wrap: wrap;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__form {
    width: 100%;
  }
}
.section-subscription .subscription .hide-form {
  display: none;
}
.section-subscription .subscription__form-input-submin-wrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__form-input-submin-wrapper {
    flex-direction: column;
    width: initial;
    margin-bottom: 17px;
  }
}
@media (max-width: 767px) {
  .section-subscription .subscription__form-input-submin-wrapper {
    width: inherit;
    margin-bottom: 9px;
  }
}
.section-subscription .subscription__input-wrapper {
  position: relative;
}
.section-subscription .subscription__input {
  margin-bottom: 8px;
  width: 280px;
  padding: 14px 24px;
  border: 1.5px solid #fcfaf9;
  background-color: transparent;
  border-radius: 88px;
  color: #e8e8e8;
}
.section-subscription .subscription__input:focus {
  outline: 2px solid #1b1f21;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__input {
    width: 100%;
    margin-bottom: 17px;
  }
}
@media (max-width: 577px) {
  .section-subscription .subscription__input {
    margin-bottom: 8px;
  }
}
.section-subscription .subscription .subscription__input-wrapper .subscription__input-placeholder {
  transition: color 0.2s;
}
.section-subscription .subscription .subscription__input-wrapper:hover .subscription__input-placeholder {
  color: #fcfaf9;
}
.section-subscription .subscription .input-error {
  border-color: #ffad20;
}
.section-subscription .subscription .input-success {
  border-color: #bedb39;
}
.section-subscription .subscription__form-submit {
  padding: 14px 113px;
  height: 49px;
  border-radius: 40px;
  background-color: rgba(254, 109, 68, 0.6);
  color: #fcfaf9;
  font-size: 18px;
  font-weight: 700;
  cursor: not-allowed;
  transition: background-color 0.2s;
}
@media (max-width: 577px) {
  .section-subscription .subscription__form-submit {
    padding: 10px 101px;
  }
}
.section-subscription .subscription .submit-active {
  background-color: #fe6d44;
  cursor: pointer;
}
.section-subscription .subscription .submit-active:hover {
  background-color: #1b1f21;
}
.section-subscription .subscription .submit-active:active {
  background-color: #1b1f21;
}
.section-subscription .subscription .submit-active:focus {
  outline: 2px solid #1b1f21;
}
.section-subscription .subscription__checkbox-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
}
.section-subscription .subscription__checkbox {
  position: absolute;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.section-subscription .subscription__checkbox:checked + .subscription__checkbox-descr::after {
  opacity: 1;
}
.section-subscription .subscription__checkbox-descr {
  position: relative;
  display: block;
  width: 565px;
  padding-left: 40px;
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
}
.section-subscription .subscription__checkbox-descr::before {
  content: "";
  position: absolute;
  left: 0;
  top: 29%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  border-radius: 4px;
  background-color: #fcfaf9;
}
.section-subscription .subscription__checkbox-descr::after {
  content: "";
  position: absolute;
  left: 0;
  top: 29%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  background-image: url("../img/check-mark.svg");
  background-position: center;
  background-size: 70%;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 0.1s;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__checkbox-descr {
    width: 97%;
    font-size: 13px;
    line-height: 18.2px;
  }
}
@media (max-width: 767px) {
  .section-subscription .subscription__checkbox-descr {
    width: 97%;
    font-size: 13px;
    line-height: 18.2px;
  }
}
@media (max-width: 577px) {
  .section-subscription .subscription__checkbox-descr {
    width: 100%;
  }
  .section-subscription .subscription__checkbox-descr::before {
    top: 19%;
  }
  .section-subscription .subscription__checkbox-descr::after {
    top: 19%;
  }
}
.section-subscription .subscription .error-message {
  margin: 0 auto;
  width: 230px;
  color: #fff;
  font-size: 13px;
  line-height: 18.2px;
  text-align: center;
}
.section-subscription .subscription__state-picture {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 50%;
  right: 13px;
  transform: translateY(-64%);
  width: 26.6px;
  height: 26.6px;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__state-picture {
    transform: translateY(-80%);
  }
}
@media (max-width: 577px) {
  .section-subscription .subscription__state-picture {
    transform: translateY(-65%);
  }
}
.section-subscription .subscription__input-placeholder {
  position: absolute;
  top: 50%;
  transform: translateY(-65%);
  left: 24px;
  pointer-events: none;
  color: #e8e8e8;
  font-size: 18px;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__input-placeholder {
    transform: translateY(-87%);
  }
}
@media (max-width: 577px) {
  .section-subscription .subscription__input-placeholder {
    transform: translateY(-68%);
  }
}
.section-subscription .subscription .input-placeholder-hidden {
  visibility: hidden;
  opacity: 0;
}
.section-subscription .subscription .state-picture-active {
  visibility: visible;
  opacity: 1;
}
.section-subscription .subscription__state-img {
  width: inherit;
  height: inherit;
}
.section-subscription .subscription__picture {
  position: absolute;
  top: 0;
  right: 0;
  height: 518px;
}
@media (max-width: 992px) {
  .section-subscription .subscription__picture {
    width: 288px;
    height: 500px;
  }
}
@media (max-width: 767px) {
  .section-subscription .subscription__picture {
    display: none;
  }
}
@media (max-width: 577px) {
  .section-subscription .subscription__picture {
    display: block;
    width: 304px;
    height: 400px;
    top: 100%;
    transform: translateY(-100%);
  }
}
.section-subscription .subscription__img {
  width: inherit;
  height: inherit;
}
.section-subscription .subscription__success-notification {
  display: none;
  position: relative;
  padding: 10px 24px;
  background-color: #fcfaf9;
  border-radius: 88px;
  font-size: 18px;
  font-weight: 700;
  line-height: 28.8px;
  color: #57acbc;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__success-notification {
    max-width: 280px;
    border-radius: 24px;
  }
}
@media (max-width: 767px) {
  .section-subscription .subscription__success-notification {
    margin: 0 auto;
    padding: 28px 16px;
  }
}
.section-subscription .subscription__success-notification-picture {
  position: absolute;
  top: -60px;
  right: 70px;
  width: 120px;
  height: 120px;
}
@media (max-width: 1366px) {
  .section-subscription .subscription__success-notification-picture {
    width: 104px;
    height: 104px;
    top: -50px;
    right: -25px;
  }
}
.section-subscription .subscription__success-notification-img {
  width: inherit;
  height: inherit;
}
.section-subscription .subscription .success-notification-show {
  display: block;
}
@media (max-width: 1366px) {
  .section-subscription .subscription {
    padding: 0;
    display: flex;
    -webkit-mask-image: none;
    background-color: transparent;
  }
}
@media (max-width: 992px) {
  .section-subscription .subscription {
    min-height: 500px;
  }
}
@media (max-width: 577px) {
  .section-subscription .subscription {
    -webkit-mask-image: url("../img/subscription-mask-320-resolution.png");
    -webkit-mask-size: 100% 1101px;
            mask-size: 100% 1101px;
    min-height: 1101px;
  }
}
.section-subscription .subscription__terms-link {
  position: relative;
}
.section-subscription .subscription__terms-link::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: #fcfaf9;
}
@media (max-width: 1366px) {
  .section-subscription {
    justify-content: flex-start;
    padding-top: 150px;
  }
}
@media (max-width: 577px) {
  .section-subscription {
    padding-top: 117px;
    padding-bottom: 179px;
  }
}/*# sourceMappingURL=subscription-section.css.map */