@import "./mixin.scss";
@import "./variables.scss";

.section-webinars {
  @include scheduleBlock(
    $calendar-image-white,
    $watch-image-white,
    500,
    $tertiary-text-color
  );

  // margin-bottom: 100px;
  padding-top: 144px;
  padding-bottom: 130px;
  background-color: $secondary-text-color;

  .webinars {
    color: $tertiary-text-color;

    &__header-wrapper {
      display: flex;
      margin-bottom: 80px;
      justify-content: space-between;
      align-items: center;
    }

    &__heading {
      font-family: "Archivo Black";
      font-size: 46px;
      font-weight: 400;
      line-height: 55.2px;
    }

    &__button {
      padding: 22px 62px;
      background-color: $button-color;
      border-radius: 40px;
      font-size: 18px;
      font-weight: 700;
      color: $tertiary-text-color;
    }

    &__cards-list {
      display: flex;
      // justify-content: space-between;
      flex-wrap: wrap;
    }

    &__card-list-item {
      position: relative;
      margin-bottom: 40px;
      width: 376px;
      min-height: 432px;
      padding: 32px;
      border-radius: 32px;

      &:not(:nth-child(3n)) {
        margin-right: 40px;
      }
    }

    &__card-bio {
      display: flex;
      margin-bottom: 15px;
      min-height: 93px;
    }

    &__card-picture {
      margin-right: 20px;
      height: 64px;
      -webkit-mask-image: url("../img/avatar-mask.png");
      mask-repeat: no-repeat;
    }

    &__card-img {
      min-width: 64px;
      height: inherit;
    }

    &__card-bio-info-block {
      padding-top: 5px;
    }

    &__card-bio-name {
      margin-bottom: 6px;
      font-family: "Archivo Black";
      font-size: 26px;
      font-weight: 400;
      line-height: 31.2px;
    }

    &__card-bio-descr {
      display: block;
      white-space: nowrap;
      max-width: 200px;
      overflow: hidden;
      text-overflow: ellipsis;
      font-size: 15px;
    }

    &__card-descr {
      margin-bottom: 85px;
      font-family: "Archivo Black";
      font-size: 30px;
      font-weight: 400;
      line-height: 36px;
    }

    &__schedule {
      position: absolute;
      height: 75px;
      bottom: 32px;
    }

    &__schedule-heading {
      margin-bottom: 14px;
      font-size: 15px;

      span:first-child {
        margin-right: 25px;
      }
    }

    .schedule-date {
      margin-right: 24px;
      width: 223px;
    }

    &__date-duration {
      display: flex;
      justify-content: space-between;
    }

    &__line-break {
      white-space: nowrap;
    }

    &__card-one {
      background-color: #57acbc;
    }

    &__card-two {
      background-color: #fe6d44;
    }

    &__card-three {
      background-color: #ef9700;
    }
  }
}
